.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__info {
    padding-left: 20px
}

.checkoutProduct__info > button {
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border-radius: 2px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    cursor: pointer;
}

.checkoutProduct__info > button:hover {
    background: linear-gradient(rgb(245, 215, 142), rgb(238, 185, 51))
}

.checkoutProduct__image img {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__rating {
    display: flex;
  }

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}


@media (max-width: 768px) {
  .checkout {
    /*flex-direction: column-reverse;*/
  }
  .checkoutProduct__info {
    padding: 0px;
  }
  .checkoutProduct__image {
    display: flex;
    align-items: center;
  }
  .checkoutProduct__image img {
    width: 100px;
    height: 100px;
  }
  .checkoutProduct__title {
    font-size:15px;
  }
  .checkoutProduct__price {
    color:orange;
    font-size:16px;
  }
}
