.carousel .swiper-container {
  width: 100%;
  height: 100%;
  margin-bottom: -22%;
}

.carousel .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.carousel .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .swiper-button-next, .swiper-button-prev {
  top: 0px;
  margin-top: 0px;
  color: black;
  width: 75px;
  height: 250px;
}

.carousel .swiper-button-next {
  right: 0px;
}

.carousel .swiper-button-prev {
  left: 0px;
}
