.footer {
	background-color: #37475A;
	/*position: absolute;*/
	bottom:0px;
	width: 100%;
}

.page-footer {
	width: 95%;
	color: #fff;
	max-width: 1536px;
	margin: 0 auto;
	padding:0 20px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between; 
}

.page-footer a {
	color: #fff;
	display: flex;
	align-items: center;
}

.page-footer a img {
	width:20px;
	transform: rotate(180deg);
}

.footer:hover {
	background-color: #485769;
}