header, header a {
	color: white;
}

.header {
	position: sticky;
	top: 0px;
	z-index: 2;
}

.header #page-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 10px;
	width: 100%;
	height: 60px;
	background-color: #131921;
}

.header .header-group1 {
	display: flex;
	align-items: center;
	margin-right: 15px;
}

.header .amazon-logo {
	width: 95px;
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.header .amazon-logo img {
	width: 100%;
	height: auto;
	margin-top: 12px;
	object-fit: contain;
}

.header .delivery-location {
	display: flex;
	align-items: center;
	margin-left: -10px;
}

.header .delivery-location span img {
	width: 20px;
	margin-right: 3px;
}

.header .delivery-location .span-flex span:first-child {
	color: #ccc;
}

.header .span-flex {
	display:flex;
	flex-direction: column;
	justify-content: center;
	font-weight:lighter;
}

.header .span-flex span:first-child{
	font-size:12px;
	font-weight:lighter;
}

.header .span-flex span:nth-child(2) {
	font-size: 14px;
	font-weight:bold;
}

.header .hover-effect {
	/*margin: 0 5px;*/
	padding: 0 8px;
	height: 50px;
	border: 1px solid transparent;
}

.header .hover-effect:hover {
	border-radius: 2px;
	border: 1px solid white;
}

.header .input-group:focus-within {
	border: 2px solid #f90;
}

.header .input-group {
	flex:1;
	width: 100%;
	height: 40px;
	display: flex;
	border-radius: 7px;
	margin-right: 15px;
	align-items: center;
	border: 2px solid transparent;
	justify-content: space-between;
}

.header .input-group select {
	width: 50px;
	height: 100%;
	font-size: 12px;
	padding-left: 8px;
	background-color: #eaeded;
	border-radius: 5px 0px 0px 5px;
	border: 2px solid transparent;
}

.header .input-group select option {
	font-size: 14px;
	width: 150px;
	display: flex;
	text-align: left;
	padding: 0px;
}

.header .input-group input {
	width: 100%;
	height: 100%;
	border-radius: 0px;
	border: 2px solid transparent;
}

.header .input-group button {
	width: 50px;
	height: 100%;
	color: #131921;
	background-color: #febd69;
	border-radius: 0px 5px 5px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid transparent;
}

.header .input-group button:hover {
  background: linear-gradient(rgb(245, 215, 142), rgb(238, 185, 51))
}

.header .input-group button img {
	width: 15px;
}

.header .input-group select:focus, .input-group input:focus, .input-group button:focus {
	outline: none;
	/*border: 2px #f90 solid;*/
}

.header .header-group3 {
	display: flex;
	align-items: center;
}

.header .header-group3 .hover-effect.location {
	display:flex;
	align-items: center;
}

.header .header-group3 .hover-effect.location img {
	width:20px;
}

.header .header-group3 img.caret {
	width:15px;
}

.header .span-flex2 {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	position: relative;
}

.header .span-flex2 span:first-child {
	width: 40px;
}

.header .span-flex2 span:nth-child(2) {
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 5px;
}

.header .cart-number {
	font-size: 13px;
	font-weight: bold;
	position: absolute;
	left: 55px;
	top: 10px;
	color: #f90;
}

.header nav {
	background-color: #232f3e;
}

.header nav ul {
	height: 40px;
	display: flex;
	width: 100%;
	align-items: center;
}

.header nav ul li {
	font-size: 14px;
	height: 28px;
	display: flex;
	align-items: center;
	padding: 0 8px;
	margin: 5px 1px;
	border-radius: 2px;
	border: 1px solid transparent;
}

.header nav ul li:hover {
	border: 1px solid white;
}

.header nav ul .last {
	font-weight: bold;
	margin-left: auto;
}