.home_ .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}

.home_ .product__rating {
  display: flex;
}

.home_ .product__image {
  flex: 1;
  width: 100%;
  height: 100%;
  align-self: center;
}
.home_ .product__image img {
  height: 100%;
  width: 100%;
  max-height: 200px;
  object-fit: contain !important;
}

.home_ .product > button {
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  align-self: center;
  cursor: pointer;
  padding: 2px 10px;
  border-radius: 4px;
}

.home_ .product > button:hover {
  background: linear-gradient(rgb(245, 215, 142), rgb(238, 185, 51))
}

.home_ .product__price {
  margin-top: 5px;
}

.home_ .product__info {
  height: 100px;
  margin-bottom: 15px;
}

.home_ .product__title {
  font-weight: 500;
  font-size: 17px;
}

@media (max-width: 768px) {
  .home_ .product {
    margin: 10px auto;
    padding: 20px 10px;
    width: 95%;
  }
}